<% if alert = flash[:alert] %>
  <div class="alert alert-error shadow-sm mb-4">
    <span><%= alert %></span>
  </div>
<% end %>

<h1 class="text-2xl font-bold mb-6">Forgot your password?</h1>

<%= form_with url: passwords_path, class: "space-y-4" do |form| %>
  <div class="form-control">
    <%= form.label :email_address, "Email address", class: "label" %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", class: "input input-bordered w-full" %>
  </div>

  <%= form.submit "Email reset instructions", class: "btn btn-primary w-full sm:w-auto" %>
<% end %>
