<%= form_with model: @studio do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address_line1 %>
    <%= form.text_field :address_line1 %>
  </div>

  <div>
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2 %>
  </div>

  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
