<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Oncue" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-base-100 shadow mb-8">
      <div class="navbar-start">
        <%= link_to "Oncue", root_path, class: "btn btn-ghost text-xl" %>
      </div>

      <div class="navbar-end">
        <% unless authenticated? %>
          <%= link_to "Login", new_session_path, class: "btn btn-primary btn-sm" %>
        <% end %>
        <% if authenticated? %>
          <%= button_to "Log out", session_path, method: :delete, class: "btn btn-error btn-sm" %>
        <% end %>
      </div>
    </nav>

    <main class="container mx-auto px-5 max-w-screen-md">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <% flash.each do |key, message| %>
            <% alert_class = case key.to_sym
                             when :alert, :error then "alert-error"
                             when :notice, :success then "alert-success"
                             else "alert-info"
                             end %>

            <div class="<%= "alert #{alert_class} shadow-sm mb-4" %>">
              <span><%= message %></span>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
